{% extends 'institutos/base.html' %}

{% block materia_principal %}

{% load static %}

<section class="projects-section bg-light" id="materias">
    <div class="container px-4 px-lg-5">
        <!-- materia principal-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'institutos/assets/img/fisica.jpg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Fisica</h4>
                    <p class="text-black-50 mb-0">lo que enseñamos y blablabla</p>
                    <a class="btn btn-primary" href="{% url 'formulariopagos' %}">informa tu pago</a><br>
                </div>
            </div>
        </div>
{% endblock %}

{% block materia_secundaria %}

{% endblock %}