{% extends 'institutos/base.html' %}

{% block nosotros%}

<h3 style="text-align: center;"><u>SOBRE NOSOTROS</u></h3>
<p><b>Ac&aacute; te vamos a contar un poco sobre nosotros y el proyecto!</b></p>
<div>
</div>
<p>Primero, nos presentamos:<br />Hola! Soy Gerson y estudio Ingenier&iacute;a Qu&iacute;mica, tambi&eacute;n soy profe y doy clases (de ac&aacute; sali&oacute; la inspiraci&oacute;n para el proyecto)</p><div>
</div>
<p>Hola! Como est&aacute;s? Mi nombre es Roc&iacute;o y estoy estudiando Fonoaudiolog&iacute;a</p><div>
</div>
<p>Hola! Por ac&aacute; te saluda Luc&iacute;a, psicomotricista y estimuladora temprana.</p><div>
</div>
<<p>Como ves, tenemos distintas &aacute;reas de trabajo, esto enriquece al trabajo en su totalidad porque intentamos fusionar todos los puntos de vista y modalidades de trabajo para ofrecer un proyecto en donde puedas encontrar esa clase que te interesa desde siempre o en la que necesit&aacute;s profundizar un poco m&aacute;s!<br /><br />Esperamos que encuentres todo lo que necesit&aacute;s, y de no ser el caso, con gusto podemos ayudarte!<br />
    <div>
    </div>  
    <br />Sos bienvenido!</p>
    <div>
    </div>
<p></p>

{% endblock nosotros%}

{% block comentarios %}
{% endblock %}

{% block materia_principal %}
{% endblock %}

{% block materia_secundaria %}
{% endblock %}

