<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Más info de los profesores </title>
</head>
<body>
    
    <p> Nombre : <i> {{profesor.nombre}} </i> </p>
    <p> Apellido : <i> {{profesor.apellido}} </i> </p>
    <p> Email : <i> {{profesor.email}} </i> </p>
    <p> Profesion: <i> {{profesor.profesion}} </i> </p>
    <p>
        <a href="{%  url 'profesores' %}"> Volver </a>
    </p>

</body>
</html>