{% extends 'institutos/base.html' %}

{% block comentarios %}
{% endblock %}

{% block cursos %}
    <form  action="{% url 'Agregar' %}" method="POST">

        {% csrf_token %}

        <table>

            {{formulario_as.p}}
            
        </table>

        <input type="submit", value="Enviar">
              
    </form>
{% endblock %}

{% block materia_principal %}
{% endblock %}

{% block materia_secundaria %}
{% endblock %}

<!--<p> Nombre: <input type= "text" name="Nombre"></p>
            <p> Apellido: <input type= "text" name="Apellido"></p>
            <p> Mail: <input type= "text" name="Mail"></p>
            <p> Profesion: <input type= "text" name="Profesion"></p>