<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para ingreso de nuevos profesores</title>
</head>
<body>

    {%if formulario.errores%}
    <p style="color:red"> Revisá los datos!  </p>
    {%endif%}
    <form method="POST">
    {% csrf_token %}

        <table>

            {{formulario_as.p}}
            
            <p> Nombre: <input type= "text" name="Nombre"></p>
            <p> Apellido: <input type= "text" name="Apellido"></p>
            <p> Mail: <input type= "text" name="Mail"></p>
            <p> Profesion: <input type= "text" name="Profesion"></p>

        </table>
        
    <input type="button", value="Enviar">

    </form>
</body>
</html>