{% extends 'institutos/base.html' %}

{% block contenido %}

<h1> Pagina de cursos </h1>


    <form method="post">{% csrf_token %}

        {% for curso in cursos %}

        <p style="color: red">{{curso}}  
            <a href="{%url 'eliminar' curso.id %}">Borrar</a> 
            <a href="{%url 'actualizar' curso.id %}">Editar</a> 
            
        </p>

    </form>
    {% endfor %}
    <a class="btn btn-primary" href="{%url 'crear_cursos'  %}">agregar curso</a>


{% endblock contenido %}

    