{% extends 'institutos/base.html' %}

{% block comentarios %}
{% endblock %}
{% block contenido %}

<h1> Pagina de cursos </h1>


    <form method="post">{% csrf_token %}

        {% for curso in cursos %}

        <p style="color: red">{{curso}}  
            <a href="{%url 'eliminar' curso.id %}">Borrar</a> 
            <a href="{%url 'actualizar_curso' curso.id %}">Editar</a> 
            
        </p>

    </form>
    {% endfor %}
    <br><br>
    <a href="{%url 'crear_cursos'  %}">agregar curso</a>


{% endblock contenido %}



{% block materia_principal %}
{% endblock %}

{% block materia_secundaria %}
{% endblock %}


    