<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Consulta y compartí info !</title>
</head>
<body>
    
    {% block chat %}

    <form  method="POST" enctype="multipart/form-data"> {% csrf_token %}

        <table>

            {{formulario.as_p}}
    
        </table>

        <input type = "submit" value= "Enviar">

    {% endblock chat %}

</body>
</html>

